
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>人员</title>
</head>
<body
    <div> 
        时间：@DateTime.Now.Date.ToShortDateString()
    </div>
</body>
</html>
