@using Kendo.Mvc.UI
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>指标类目</title>
    <link href="~/Content/kendostyle/kendo.common.min.css" rel="stylesheet">
    <link href="~/Content/kendostyle/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/Content/kendostyle/kendo.default.min.css" rel="stylesheet">

    <script src="~/Scripts/kendoui/jquery.min.js"></script>
    <script src="~/Scripts/kendoui/kendo.web.min.js"></script>
    <script src="~/Scripts/kendoui/kendo.aspnetmvc.min.js"></script>
    <style>
        * {
            margin: 0 auto;
        }
    </style>
</head>
<body>


    @(Html.Kendo().Grid<Com.Piap.IndexManage.Model.Category>()
    .Name("grid")
    .HtmlAttributes(new { style = "height: 500px; width:1000px;margin-top:30px;" })
    .Columns(columns => {
        columns.Bound(p => p.Id).Width(100).Title("编号");
        columns.Bound(p => p.Code).Width(100).Title("代码");
        columns.Bound(p => p.Name).Width(120).Title("名称");
        columns.Bound(p => p.DirectionId).Width(120).Title("分类方向");
        columns.Bound(p => p.ClassificationId).Width(120).Title("分类");
        columns.Bound(p => p.Remarks).Width(120).Title("备注");
        columns.Bound(p => p.Enable).Width(100).Title("启停");
        columns.Bound(p => p.Deleted).Width(100).Title("删除");
        columns.Command(command => command.Destroy());
    })
    .ToolBar(toolbar => {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(Kendo.Mvc.UI.GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5)
     )
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(20)
        .ServerOperation(false)
        .Model(model => model.Id(p => p.Id))
                        .Create("Create", "Category")
                        .Read("All", "Category")
                        .Update("Modify", "Category")
                        .Destroy("Delete", "Category")
    )
    )



</body>
</html>
